<%= stylesheet_link_tag 'styles-users/sign_in'%>

<div class="container principal">

        <header class="row">
            <%= image_tag("logo-app/logo.png")%>
        </header>

        <section class="col 12">

              <h2>Inicio de sesi&oacute;n</h2>

                <div class="form-inicio">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                      <div class="input-field">
                          <%= f.label :email, for:"email" %>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "validate", id: "email", type:"email"%>
                      </div>

                      <div class="input-field">
                        <%= f.label :Contraseña, class: "validate", id: "password", for:"password"%>
                        <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                      <label class="checkbox-recordar custom-control custom-checkbox">
                          <%= f.check_box :remember_me, class:"custom-control-input", id:"exampleCheck1", type:"checkbox"%>
                          <%= f.label :remember_me, value:"Recordar me", class:"custom-control-label", for:"exampleCheck1"%>
                      </label>
                  <% end %>
                  <%= render "devise/shared/links" %>
                  <div class="actions my-5">
                      <%= f.submit "INICIAR SESIÓN", class:"btn  btn-block mdl-button mdl-js-button mdl-js-ripple-effect" %>
                  </div>

                  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <%= link_to "¿No tiene una cuenta?", new_registration_path(resource_name), class:"registro" %>
                  <% end -%>

                <% end %>
            </div>
        </section>



</div>
